header{
    background-color: #f7b46b;
    width: 100%;
    height: 60%;

    text-align: center; 
   
}

ul.ddmenu{
    margin:0px;
    padding:0px 0px 0px 15px;
    background-color: #ef866b;
}

ul.ddmenu li{
    width:300px;
    display:inline-block;
    list-style-type: none;
    position: relative;
    
}
ul.ddmenu a {
    background-color: #ef866b; 
    color: black;             
    line-height: 40px;       
    text-align: center;       
    text-decoration: none;    
    font-weight: bold;        
    display: block;           
}
ul.ddmenu ul{
    display: none;
    margin:0px;
    padding:0px;
    position:absolute;
}
ul.ddmenu a:hover {
    background-color: #ffdddd; 
    color: #dd0000;           
}

ul.ddmenu li:hover ul {
    display: block;         
}
body{
background-color: #bcb5b5;
margin: 0%;
}

h1{
    font-size: 70px;
    color: #800000;
    margin: 0;
    
}
h3{
    background-color: yellowgreen;
    margin: 0%;
    margin-top: 0px;
}
.menu{
  
    margin-top: 0px;
    background-color: lightblue;
    
}
.name{
    background-color: yellow;
    margin-bottom: 0%;
    margin-top: 0%;
}
.menu p{
    max-width: 100%; 
    overflow: hidden; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5; 
    height: calc(1.5em * 3); 
    font-size: 30px;
}
.image-container { 
    height: 350px; 
    width: 100%; 
    overflow: hidden;
    margin-bottom: 10px; 
}

.image-container img { 
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.logo{
    
    width: auto; 
    height: auto;
   
}
.logo img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
#access p{
    background-color: #800000;
    margin: 0;
    width: 70%;
}
#access img{
    width: 70%;
    height: auto;
    margin-bottom: 0;
}

.campaign img{
    width: 90%;
    height: auto;
}
.campaign h3{
    background-color: yellowgreen;
    margin: 0%;
    margin-top: 0px;
    font-size: x-large;
}
@media (max-width: 600px) {
    .wrap {
        grid-template-columns: 1fr; 
    }
}